

.githubImage{
    max-width: 100%;
    max-height: 100%;
    }

@media screen and (min-width:576px){
    .scale_on_card:hover{
        transform:translate(0px,-20px);
        transition-duration: 0.3s;
    }
}