html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.progress-bar {
  background-color: #ff0000;
}
.bg-progress-bar-dark {
  background-color: #a30000;
}

.bg-realy-dark {
  background-color: #0e1117;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.5);
}

.table-hover tbody tr:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

.carousel {
  height: 291px;
  margin: auto;
}

.carousel img {
  height: 291px;
}

#last-project-slide-1 {
  height: 230px;
  background-repeat: no-repeat;
  background-image: url("../public/img/netflixClone2.png");
  background-size: contain;
}
#last-project-slide-2 {
  height: 230px;
  background-repeat: no-repeat;
  background-image: url("../public/img/netflixClone3.png");
  background-size: contain;
}

.swiper-button-next:active {
  transform: scale(1.4);
}
.swiper-button-prev:active {
  transform: scale(1.4);
}

@media screen and (min-width: 768px) {
  .accentued-padding {
    padding-left: 10%;
    padding-right: 10%;
  }
  .no-border-on-md {
    border: none !important;
  }
  .swiper-container {
    width: 750px;
    height: 500px;
  }
  .swiper-slide {
    padding-top: 55px;
  }
  #last-project-slide-1 {
    height: 95%;
    background-image: url("../public/img/netflixClone2.png");
    background-size: cover;
  }
  #last-project-slide-2 {
    height: 95%;
    background-image: url("../public/img/netflixClone3.png");
    background-size: cover;
  }
}
@media screen and (max-width: 576px) {
  #animated-text {
    font-size: 1.2rem;
  }
  .carousel img {
    height: 200px;
  }
  .carousel h3 {
    font-size: 1rem;
  }
  .mobile_navbar {
    height: 100vh;
    padding-top: 25px;
    text-align: left;
    background-image: linear-gradient(
      to right bottom,
      #5400be,
      #5000b6,
      #4c00ad,
      #4900a5,
      #45009d
    );
  }

  .mobile_navbar_dark {
    padding-top: 25px;
    height: 100vh;
    text-align: left;
    background-image: linear-gradient(
      to right bottom,
      #030108,
      #10051d,
      #150a2d,
      #190b3e,
      #20094f
    );
  }
}
